<p id="notice"><%= notice %></p>

<h1>Sellers</h1>

<table>
  <thead>
    <tr>
      <th>Order Response</th>
      <th>Requested Product</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td>
        <%  if seller.order_response == true %>
        <button class="btn btn-success disabled">Accepted</button>
        <% else %>
        <button class="btn btn-warning">Click to Accept</button>
        <% end %>
        </td>

        <td><%= seller.product_id %></td>
        <!-- For Admin to be edited with canx3 -->
        <td><%= link_to 'Show', seller %>
          <%= link_to 'Edit', edit_seller_path(seller) %>
          <%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller', new_seller_path %>
