<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Stores</h1>

  <table class="table table-hover  rounded mt-4 bg-light">
    <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Summary</th>
      <th class="text-center">User</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <div class="d-flex flex-row-reverse">
      <%= link_to 'New Store', new_store_path, class: "btn btn-success" %>
    </div>
    <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td class="text-center"><%= store.name %></td>
        <td class="text-center"><%= store.summary %></td>
        <td class="text-center"><%= store.user.name %></td>
        <td class="text-center">
          <%= link_to 'Show products', store, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_store_path(store), class: "btn btn-warning" %>
          <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<br>


