<%= form_tag products_path(:category => params[:category], :brand => params[:brand], :seller => params[:seller]), :method => :get, enforce_utf8: false do %>
  <% if params[:q].present? %>
    <%= hidden_field_tag :q, params[:q] %>
  <% end %>

  <%= select_tag :category, options_for_select(@categories.collect { |category| [category.name, category.name, :selected => params[:category] == category.name] }), :include_blank => true  %>
  <%= select_tag :brand, options_for_select(@brands.collect { |brand| [brand.name, brand.name, :selected => params[:brand] == brand.name] }), :include_blank => true  %>

  <div data-role="rangeslider">
    <%= label_tag :price_gte, "Price" %>
    <%= range_field_tag :price_gte, params[:price_gte].present?? params[:price_gte]: 0,  {:min => "0", :max => "9999"} %>
    <%= range_field_tag :price_lte, params[:price_lte].present?? params[:price_lte]: 10000, :min => "1", :max => "10000" %>
  </div>

  <%= submit_tag "Filter", class: "btn btn-primary my-2 my-sm-0", name: nil %>
<% end %>